.paper-trading-stage3 {
    padding: 20px;
    padding-left: 90px;
    background-color: #000d1a;
    min-height: 100vh;
}

.paper-trading-stage3 h1{
  color: #fff;
  font-weight: 400;
  font-size: 2.2em;
  margin-top: 20px;
  margin-bottom: 5px;
}

.paper-trading-stage3 bold{
  font-weight: 550;
}


.paper-trading-stage3 .welcome-bottom{
  color: #989898;
  font-weight: 500;
  font-size: 1.2em;
  margin-bottom: 70px;
}


.paper-trading-stage3 .template-selection h2{
    color:#fff;
    font-size: 1em;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 20px;
}


.paper-trading-stage3 .template-selection-buttons-container {
  display: flex;
  justify-content: center; /* Center buttons horizontally */
  flex-wrap: wrap; /* Allow buttons to wrap on smaller screens */
  gap: 50px; /* Adjust the gap between buttons */
  margin-bottom: 20px; /* Add some space below the buttons container */
}

.paper-trading-stage3 .template-selection button {
  background-color: #001a33;
  color: #0066cd;
  padding: 10px 20px; /* Adjust padding for better sizing */
  margin: 0; /* Reset any margins */
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s;
}


.paper-trading-stage3 .template-selection button.selected-template {
  background-color: #0066cd; /* Highlight color */
  color: #fff; /* Text color for the selected button */
}

.paper-trading-stage3 .template-selection button:hover {
  background-color: #0066cd; 
  color: white;
  transform: scale(1.05);
  transition: transform 0.2s ease;
}



.paper-trading-stage3 .pie-charts-container {
    margin-top: 50px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-around; /* This will space out the pie charts equally */
    align-items: flex-start; /* This will vertically center the pie charts in their container */
    gap: 20px; /* This adds space between the pie charts */
}


/* Add styles for the chart titles */
.paper-trading-stage3 .chart-title {
    text-align: left;
    color: #fff;
    margin-left: 0; /* Align the text to the left */
    padding-left: 0; /* Make sure there is no padding pushing the title to the right */
    font-size: 1.3em; /* Adjust the font size as needed */
    width: 100%; /* Ensure the title takes the full width of its container */
    margin-bottom: -80px;
    margin-top: 30px;
    font-weight: 500;
  }

.paper-trading-stage3 .target-portfolio-info {
    color: white;
    width: 550px;
    margin-top: 32px;
    padding: 10px;
    border: 2px dashed #676767;
    border-radius: 5px;
}


.paper-trading-stage3 .target-portfolio-info h3 {
  font-size: 1em;
  font-weight: 600;
  color: #9e9e9e;;
}


.paper-trading-stage3 .target-portfolio-info p {
  font-size: 0.9em;
  color: #9e9e9e;
}


.paper-trading-stage3 .target-portfolio-info a {
  font-size: 0.9em;
  color: #0066cd;
}

/* Add a specific class or use an existing one to set a fixed width and height for the pie charts */
.paper-trading-stage3 .risk-profile-pie-chart-container,
.paper-trading-stage3 .current-asset-pie-chart-container {
    flex: 1; /* This ensures that both containers take up equal space */
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center;
    align-items: center; /* Center the pie chart vertically in the container */
    min-height: 400px; /* Set a fixed height for consistency */
    margin: 0; /* Remove any default margins */
    padding: 0; /* Remove any default padding */
}


.paper-trading-stage3 .no-portfolio-message {
  color: #9e9e9e;
  text-align: center;
  padding: 20px;
  font-size: 1.2em;
  font-style: italic;
  /* Add the following styles to better position the text */
  width: 100%; /* Take the full width of the container */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Take full height to center vertically */
}

/* Ensure the PieChart component takes the full width and height of its container */
.paper-trading-stage3 .recharts-responsive-container {
    width: 100% !important;
    height: 100% !important;
    padding: 0; /* Eliminate padding */
    margin: 0 auto; /* Center the charts and remove margin */
}



.paper-trading-stage3 .cash-value-container {
  display: flex;
  justify-content: space-between; 
  align-items: flex-start; /* Aligns items to the start of the flex direction */
}

.paper-trading-stage3 .current-cash-profit-loss-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.paper-trading-stage3 .cash-value-container .current-cash-container, .paper-trading-stage3 .portfolio-value-container {
  background-color: #000d1a;
  padding: 20px;
  border-radius: 8px;
  flex-basis: 30%; 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 30px;
}


.paper-trading-stage3 .portfolio-value-return-container {
  background-color: #000d1a;
  border-radius: 8px;
  flex-basis: 30%; 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 30px;
}

.paper-trading-stage3 .portfolio-return-container {
  margin-top: 40px;
}

.paper-trading-stage3 .portfolio-return-label {
  font-size: 1em; 
  color: #989898; 
  margin-bottom: 5px; 
}

.paper-trading-stage3 .portfolio-return-value {
  font-size: 1em; 
  margin-top: 10px;
  color: #fff;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px; /* Adjust for more or less rounded corners */
}


.paper-trading-stage3 .portfolio-return-value.positive-return {
  background-color: rgba(0, 229, 0, 0.2); /* Light green background for positive return */
  color: rgb(0, 165, 0); /* Darker green text color for positive return */
}

.paper-trading-stage3 .portfolio-return-value.negative-return {
  background-color: rgba(229, 0, 0, 0.2); /* Light red background for negative return */
  color: rgb(165, 0, 0); /* Darker red text color for negative return */
}



/* Ensure that the current-cash-container does not have a bottom margin that pushes the profit-loss-container down */
.paper-trading-stage3 .current-cash-container {
  margin-bottom: 0;
}

.paper-trading-stage3 .cash-value-container .current-cash-label, .paper-trading-stage3 .cash-value-container .portfolio-value-label {
  font-size: 1.1em; 
  color: #989898; 
  margin-bottom: 10px; 
}

.paper-trading-stage3 .cash-value-container .current-cash-value, .paper-trading-stage3 .cash-value-container .portfolio-value {
  font-size: 3em; 
  font-weight: bold;
  color: #fff;
}

.paper-trading-stage3 .profit-loss-container {
  background-color: #000d1a;  
  padding: 20px;
  border-radius: 8px;
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 30px;
}

.paper-trading-stage3 .profit-loss-label {
  font-size: 1em;
  color: #989898;
  margin-bottom: 5px;
}


.paper-trading-stage3 .profit-loss-container .value-box {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px; /* Adjust for more or less rounded corners */
  color: #fff; /* White text color */
  margin-top: 10px;
  font-size: 1em;
}


.paper-trading-stage3 .profit-loss-container .positive-value {
  background-color: rgba(0, 229, 0, 0.2); /* Light green background */
  color: rgb(0, 165, 0); /* Green text color */
}

.paper-trading-stage3 .profit-loss-container .negative-value {
  background-color: rgba(229, 0, 0, 0.2); /* Light red background */
  color: rgb(165, 0, 0); /* Red text color */
}


/* This container will align the expected and actual metrics side by side */
.paper-trading-stage3 .portfolio-metrics-container {
  display: flex;
  justify-content: center; 
  flex-wrap: wrap; /* Allow the items to wrap on smaller screens */
  /* margin-left: 40px; */
  /* margin-top: 40px; */
  /* margin-bottom: 80px; */
  max-width: 550px; /* Max width to prevent it from stretching too wide on larger screens */
}

.paper-trading-stage3 .diversification-check-title {
  color: #fff; /* White text color */
  font-size: 1em; /* Example font size, adjust as needed */
  text-align: center; /* Center the text */
  margin-bottom: 10px;
  font-weight: 500; /* Medium font weight */
  width: 100%; /* Take full width to ensure it centers properly */
}

.paper-trading-stage3 .expected-metrics,
.paper-trading-stage3 .actual-metrics {
  flex: 1; /* Allows the container to grow to fit the available space */
  min-width: 220px; /* Minimum width to prevent them from getting too narrow */
  display: flex;
  border: 2px solid #0066cd;
  border-radius: 5px;
  flex-direction: column;
  text-align: center;
  align-items: center; /* Centers the content horizontally */
  /* padding-top: 20px; */
  /* padding-bottom: 10px; */
  font-size: 0.9em;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Adds a subtle shadow for depth */
}

.paper-trading-stage3 .expected-metrics {
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.paper-trading-stage3 .actual-metrics {
  border-left: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

/* Remove the margin-right on the actual-metrics to push it to the edge */
.paper-trading-stage3 .actual-metrics {
  margin-right: 0;
}

/* Adjusting individual metric blocks */
.paper-trading-stage3 .portfolio-metrics {
  background-color: #000d1a;
  min-width: 100px;
  min-height: 60px;
  border-radius: 8px;
  margin-top: 5px;
  /* padding: 10px; */
  /* margin-bottom: 10px; Adds space between metrics */
}

/* Aligns the label directly above the value */
.paper-trading-stage3 .portfolio-metrics-label {
  font-size: 1em;
  color: #989898;
  margin-bottom: 5px; /* Space between label and value */
}

.paper-trading-stage3 .portfolio-metrics-value {
  font-size: 1em;
  margin-top: 7px;
  color: #fff;
}


/* Highlight values that are outside the expected range */
.paper-trading-stage3 .portfolio-metrics-value.outside-range {
  display: inline-block; /* This will make the background fit the content */
  padding: 1px 4px; /* Adjust padding as needed */
  margin-top: 1px;
  border-radius: 5px; /* Adjust for more or less rounded corners */
  color: rgb(165, 0, 0); /* Use a color that indicates attention, e.g., Tomato */
  background-color: rgba(229, 0, 0, 0.2);
}

/* Optionally, you could add an icon before the value that is outside the range */
.paper-trading-stage3 .portfolio-metrics-value.outside-range::before {
  content: '⚠️'; /* Warning emoji or you could use an SVG/icon font */
  display: inline-block;
  margin-right: 5px;
}


/* New class for values within the expected range */
.paper-trading-stage3 .portfolio-metrics-value.within-range {
  display: inline-block;
  padding: 1px 4px;
  margin-top: 1px;
  border-radius: 5px;
  background-color: rgba(0, 229, 0, 0.2); /* Light green background */
  color: rgb(0, 165, 0); /* Green text color */
}

/* Optionally, add an icon for within range values */
.paper-trading-stage3 .portfolio-metrics-value.within-range::before {
  content: '✅'; /* Checkmark emoji or you could use an SVG/icon font */
  display: inline-block;
  margin-right: 5px;
}

.paper-trading-stage3 .stock-list-controls {
  display: flex; /* Use flex layout */
  align-items: center; /* Center items vertically */
  gap: 10px; /* Add space between the buttons and the stock list */
  margin-bottom: 20px; /* Space below the stock list controls */
}

.paper-trading-stage3 .scroll-btn {
  padding: 10px 20px; /* Button padding */
  background-color: #001a33; /* Button background color */
  color: white; /* Button text color */
  border: none; /* Remove border */
  cursor: pointer; /* Cursor pointer */
  user-select: none; /* Prevent text selection */
}

.paper-trading-stage3 .scroll-btn:hover{
  background-color: #0066cd;
} 

/* Styling for the container that holds the stock list */
.paper-trading-stage3 .stock-list-container {
  overflow-x: auto; 
  white-space: nowrap;
  margin: 0 10px;
  scrollbar-width: thin; 
  scrollbar-color: #888 #000; 
}

/* Styling for scrollbar on Webkit browsers */
.paper-trading-stage3 .stock-list-container::-webkit-scrollbar {
  height: 8px; /* Height of the scrollbar */
}

.paper-trading-stage3 .stock-list-container::-webkit-scrollbar-track {
  background: #000; /* Track color */
}

.paper-trading-stage3 .stock-list-container::-webkit-scrollbar-thumb {
  background-color: #001a33; /* Thumb color */
  border-radius: 10px; /* Round the corners of the scrollbar thumb */
}
  
.paper-trading-stage3 .stock-list {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 10px 0; /* Padding on top and bottom */
    margin-bottom: 20px;
    margin-right: 10px;
}


.paper-trading-stage3 .stocks-header{
  color: white;
  font-size: 1em;
  font-weight: 400;
  font-style: italic;
  margin-top: 20px;
  margin-bottom: 20px;
}


.paper-trading-stage3 .filter-selection {
    margin-bottom: 20px;
  }
  
.paper-trading-stage3 .filter-selection select {
  padding: 5px 10px;
  background-color: #001a33;
  color: white;
  border: 1px solid #333;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
}
  
/* Styling for each stock item */
.paper-trading-stage3 .stock-item {
  flex: 0 0 auto;
  display: inline-flex; /* Inline-flex so they line up in a row */
  flex-direction: column; /* Stack children elements vertically */
  /* border: 1px solid #989898; */
  border-radius: 5px; /* Rounded corners */
  background-color: #001a33; /* Background color */
  padding: 15px; /* Padding inside the stock items */
  width: 420px; /* Width of each stock item */
  box-sizing: border-box;
}
  
.paper-trading-stage3 .stock-item:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transform: scale(1.03); /* Slightly scale up on hover */
    transition: transform 0.3s ease;
}


/* Add a flex container around the buttons to align them side by side */
.paper-trading-stage3 .stock-item .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px; /* Adjust as needed */
  }

/* Add new styles for the buttons */
.paper-trading-stage3 .stock-item button {
    display: inline-block; /* Change from block to inline-block */
    width: 48%; /* Adjust width to fit side by side, considering padding/margin */
    margin: 0; /* Remove auto margins */
    padding: 10px; /* Keep padding consistent */
    background-color: #001a33; /* New background color */
    color: #fff; /* Text color */
    border: 1px solid #989898; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 0.9em;
}

/* If you want to ensure that there's a little gap between the buttons */
.paper-trading-stage3 .stock-item button:first-child {
    margin-right: 4%; /* Add right margin to the first button */
}
  
.paper-trading-stage3 .stock-item button:hover {
    background-color: transparent;
  }
  
  /* Add this to ensure the transaction modal doesn't pop up when these buttons are clicked */
.paper-trading-stage3 .stock-item button:focus {
    outline: none; /* Remove outline */
  }
  
/* Add a new class for the stock symbol */
.paper-trading-stage3 .stock-item h2 {
  color: #fff; 
  font-size: 1.5em; 
  font-weight: 600;
}


/* Add a new class for the stock symbol */
.paper-trading-stage3 .stock-item h3 {
    color: #989898; 
    font-size: 1.1em; 
    font-weight: 500;
  }

/* Add a new class for the stock price and daily change */
/* .paper-trading-stage3 .stock-item .stock-info {
  color: #989898;
  font-size: 0.7em; 
} */


/* This targets the paragraphs inside the stock-info class, assuming you've wrapped your price and daily change text as suggested earlier */
.paper-trading-stage3 .stock-item .stock-info p {
  display: flex;
  justify-content: space-between; /* Aligns the label to the left and the value to the right */
  margin-top: 10px; /* Adjust top margin as needed */
  margin-bottom: 5px; /* Adjust bottom margin as needed */
  color: #fff;
  font-size: 0.9em;
}

.paper-trading-stage3 .stock-item .stock-info .value {
  margin-left: auto; /* Pushes the value to the right */
  background-color: rgba(0, 102, 205, 0.2);
  color: #0066cd; 
  /* background-color: rgba(255, 255, 255, 0.2);
  color: #fff;  */
  padding: 1px 5px;
  border-radius: 5px;
}


.paper-trading-stage3 .stock-item .stock-info .value-rest {
    margin-left: auto; /* Pushes the value to the right */
    color: #fff; 
}



.paper-trading-stage3 .stock-item .stock-info .positive-value {
  background-color: rgba(0, 229, 0, 0.2); /* Light green background */
  padding: 1px 5px;
  color: rgb(0, 165, 0); /* Green text color */
}

.paper-trading-stage3 .stock-item .stock-info .negative-value {
  background-color: rgba(229, 0, 0, 0.2); /* Light red background */
  padding: 1px 5px;
  color: rgb(165, 0, 0); /* Red text color */
}


.paper-trading-stage3 .modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6); /* Dimmed background */
  display:flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Make sure it's on top of other content */
}


.paper-trading-stage3 .transaction-modal {
  padding: 30px; /* Increased padding for better spacing */
  /* border: 1px solid #7b7b7b;  */
  border-radius: 10px; /* Slightly larger border radius for a modern look */
  background-color: #001a33; /* Dark background for the modal */
  color: #fff; /* White text color for better readability on the dark background */
  width: auto; /* Auto width based on content */
  max-width: 400px; /* Maximum width of the modal */
  z-index: 1001; /* Ensures the modal is above the overlay */
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5); /* More pronounced shadow for a floating effect */
}

.paper-trading-stage3 .transaction-modal h2 {
  /* margin-bottom: 20px; */
  color: #fff; /* Themed color for titles */
  text-align: left; /* Centering the title */
  font-size: 1.8em;
}

.paper-trading-stage3 .transaction-modal p {
  color: #fff; /* Themed color for the symbol text */
  font-size: 1.1em;
  text-align: left; /* Centering the symbol text */
  margin-bottom: 20px; /* Space below the symbol */
}

.paper-trading-stage3 .transaction-modal label {
  display: block; /* Make the label take the full width */
  margin-bottom: .5rem; /* Space below the label */
  color: #989898; /* Lighter text color for labels */
}
  
.paper-trading-stage3 .transaction-modal input,
.paper-trading-stage3 .transaction-modal select {
    width: 100%; /* Make the input take full width of the modal */
    padding: 10px; /* Larger padding for better touch target */
    margin-bottom: 20px; /* Space below the input */
    border: 1px solid #333; /* Darker border for the inputs */
    background-color: #000d1a; /* Darker background for inputs */
    color: #fff; /* White text for inputs */
    border-radius: 5px; 
    font-family: 'Poppins', sans-serif;
}
  
.paper-trading-stage3 .transaction-modal .transaction-modal-actions {
    display: flex;
    justify-content: space-around; /* Even space around the buttons */
    align-items: center; /* Vertically center align items */
}
  
.paper-trading-stage3 .execute-transaction-btn,
.paper-trading-stage3 .cancel-transaction-btn {
    flex-grow: 1; /* Buttons take up equal space */
    margin: 0 10px; /* Space between buttons */
    margin-top: 20px;
    padding: 10px 20px; /* Padding top and bottom */
    border-radius: 5px;
    font-weight: 500; /* Bold font for buttons */
}
  
.paper-trading-stage3 .execute-transaction-btn {
    background-color: #001a33;
    border: 1px solid #989898;
}
  
.paper-trading-stage3 .cancel-transaction-btn {
    background-color: #001a33;
    border: 1px solid #989898;
}
  
  /* Hover effects for buttons */
.paper-trading-stage3 .execute-transaction-btn:hover {
    background-color: #001a33;
    transform: scale(1.1); /* Slightly scale up on hover */
    transition: transform 0.3s ease;
}
  
.paper-trading-stage3 .cancel-transaction-btn:hover {
    background-color: #001a33;
    transform: scale(1.1); /* Slightly scale up on hover */
    transition: transform 0.3s ease;
}

/* Optional: If you want to add an animation to the modal appearance */
.paper-trading-stage3 .transaction-modal {
  animation: modalFadeIn 0.3s;
}

@keyframes modalFadeIn {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
  

.paper-trading-stage3 .error-message {
  color: red;
  font-weight: bold;
}


.paper-trading-stage3 .charts-container {
    display: flex;
    justify-content: center; /* This centers the child horizontally */
    align-items: center; /* This centers the child vertically */
    margin-bottom: 60px;
  }

/* Update .chart-container if needed to ensure the chart fills the available space */
.paper-trading-stage3 .chart-container {
    width: 100%; /* Full width of the container */
    /* Add any additional styles you need to center the LineChart if it's not centered by default */
  }

.paper-trading-stage3 .chart-header {
    width: 100%; /* Full width to match the chart container */
    text-align: center; /* Center the text within the header */
    font-size: 1.2em;
    margin-bottom: 10px; /* Space between header and chart */
    color: white;
    font-weight: 500;
}


.paper-trading-stage3 .recharts-tooltip-item {
  color: #989898 !important; /* Grey font color */
}

.paper-trading-stage3 .recharts-default-tooltip {
  background-color: rgb(0,13,26,0.9) !important;
  border: none !important; 
  border-radius: 5px !important; 
  border: 1px solid #676767  !important;
}



.paper-trading-stage3 .advice-modal {
  padding: 30px;
  padding-left: 50px;
  background-color: #001a33;
  color: #fff;
  width: 1000px;
  border-radius: 5px;
  text-align: left;
  position: relative; /* For positioning the close button */
  margin-left: 100px;
  margin-right: 100px;
}


.paper-trading-stage3 .chatgpt-advice{
  font-size: 1em;
}

.paper-trading-stage3 .close-advice-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

/* Optionally, add hover effect for close button */
.paper-trading-stage3 .close-advice-btn:hover {
  background-color: transparent;
  transform: scale(1.1); /* Slightly scale up on hover */
  transition: transform 0.3s ease;
}


.paper-trading-stage3 .price-chart-modal, .paper-trading-stage3 .news-modal {
    /* padding: 50px; */
    background-color: #001a33;
    color: #fff;
    text-align: left;
    position: relative; 
    margin-left: 100px;
    margin-right: 100px;
}


.paper-trading-stage3 .news-modal {
    padding-left: 20px;
    padding-right: 20px;
    position: relative; /* Needed for absolute positioning of the close button */
    padding-top: 40px;
    max-height: 100vh; /* Limit the height of the modal to 80% of the viewport height */
    border-radius: 10px;
    /* overflow-y: auto; */
}

.paper-trading-stage3 .news-header{
  margin-bottom: 30px;
  font-size: 1.3em;
  text-align: center;
  text-decoration: underline; /* This line will underline the text */
}

.paper-trading-stage3 .news-content {
    padding: 20px; /* Add padding around the news content */
    max-height: 75vh; /* Adjust height to ensure close button visibility */
    overflow-y: auto;
    margin-bottom: 20px;
}


/* Styling for scrollbar on Webkit browsers */
.paper-trading-stage3 .news-content::-webkit-scrollbar {
    width: 6px; /* Reduce the width of the scrollbar */
    border-radius: 10px; /* Round the corners of the scrollbar */
  }
  
  .paper-trading-stage3 .news-content::-webkit-scrollbar-track {
    background: transparent; /* Make the track transparent or match modal background */
  }
  
  .paper-trading-stage3 .news-content::-webkit-scrollbar-thumb {
    background-color: #fff; /* Match scrollbar thumb to modal color */
    border-radius: 10px; /* Round the corners of the scrollbar thumb */
  }


.paper-trading-stage3 .news-date {
    color: #a5a5a5;
    font-size: 0.9em;
    margin-bottom: 5px;
  }
  
  .paper-trading-stage3 .news-headline {
    color: #fff;
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 10px;
  }
  
  .paper-trading-stage3 .news-summary {
    color: #d1d1d1;
    font-size: 0.95em;
    margin-bottom: 15px;
  }

  .paper-trading-stage3 .news-link {
    color: #0096ff; /* Example link color, adjust as needed */
    text-decoration: none; /* No underline */
    font-weight: 500; /* Optional: makes it bold */
    margin-top: 10px; /* Spacing from the summary */
    display: inline-block; /* To allow margin-top to take effect */
  }
  
  .paper-trading-stage3 .news-link:hover {
    text-decoration: underline; /* Underline on hover for better UX */
  }
  
  .paper-trading-stage3 .news-item:not(:last-child) {
    border-bottom: 1px solid #333;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }


.paper-trading-stage3 .no-news-message {
  color: #666;
  text-align: center;
  margin-bottom: 20px;
}


.paper-trading-stage3 .price-chart-modal {
    /* ... existing styles ... */
    padding: 50px;
    display: flex; /* Enables flexbox */
    flex-direction: column; /* Stacks children vertically */
    align-items: center; /* Centers children horizontally */
    justify-content: center; /* Centers children vertically */
    position: relative;
    background-color: #001a33;
    color: #fff;
    border-radius: 10px;

  }


  .paper-trading-stage3 .price-chart-modal h1 {
    font-weight: 500; /* Makes the text bold */
    font-size: 1.5em;
    text-align: center; /* Centers the text */
    width: 100%; /* Ensures the title takes full width of the container */
    margin-bottom: 20px; /* Adds some space below the title */
  }
  
  /* To ensure the chart itself is also centered, add styles to its container */
  .paper-trading-stage3 .price-chart-container {
    display: flex;
    justify-content: center;
    margin-right: 40px;
    width: 100%; /* Ensures the container takes full width */
  }
  
  /* If the LineChart component doesn't center by default, add this */
  .paper-trading-stage3 .recharts-wrapper {
    margin: auto; /* This will center the chart if it's not already */
  }

.paper-trading-stage3 .close-modal-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.paper-trading-stage3 .close-modal-btn:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}



.paper-trading-stage3 .custom-tooltip {
  background-color: rgb(0,13,26,0.9);
  padding: 10px; 
  border-radius: 5px;
  border: 1px solid #676767;
}

.paper-trading-stage3 .custom-tooltip .label {
  margin: 0;
  font-weight: 400;
  font-size: 1.1em;
  color: #989898;
}
.paper-trading-stage3 .custom-tooltip .intro {
  margin: 0;
  font-weight: 400;
  font-size: 1.1em;
}

.paper-trading-stage3 .custom-tooltip .desc {
  margin: 0;
  font-weight: 400;
  font-size: 1.1em;
}


.paper-trading-stage3 .advice-header {
  margin-bottom: 30px;
  font-size: 1.3em;
  font-weight: 500;
  text-align: center;
  margin-top: 0;
  font-family: 'Poppins', sans-serif;
  /* text-decoration: underline;  */

}

