/* global.css */

/* Style for Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #001a33 #000d1a;
}

/* Style for Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px; /* Making the scrollbar thin */
}

*::-webkit-scrollbar-track {
  background: #000d1a; /* The track of the scroll */
}

*::-webkit-scrollbar-thumb {
  background-color: #001a33; /* The scroll handle */
  border-radius: 4px;
  min-height: 10px; /* Set a minimum height for the thumb */
}